$mdi-font-path: '~@mdi/font/fonts/';
@import '~@mdi/font/scss/materialdesignicons';
@import '~izitoast/dist/css/iziToast.min.css';
@import './styles/emoji';
@import './styles/layout';
@import './styles/scroll';
@import './styles/text';
@import './styles/tooltip';
@import './styles/transitions';
@import './styles/vuetify';

.viewer-iframe {
    border: none;
    height: 100%;
    width: 100%;

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        pointer-events: none;
    }
}

